@import "tailwindcss";

@font-face {
  font-family: 'windowsregular';
  src: url('assets/fonts/windows_regular-webfont.woff2') format('woff2'),
       url('assets/fonts/windows_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}