@font-face {
  font-family: 'windowsregular';
  src: url('assets/fonts/windows_regular-webfont.woff2') format('woff2'),
       url('assets/fonts/windows_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'windowsregular', "Courier New", Courier, monospace;
  line-height: 1.6;
  background-color: white;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}
header img {
  max-width: 40px;
  max-height: 40px;
  margin-right: auto;
  margin-left: 10px;
  padding: 5px;
  border-radius: 99px;
  /* background-color: #2d2d2d; */
  /* box-shadow:  4px 4px 7px 0px rgba(0, 0, 0, 0.5); */
}
#page-title {
  margin-left: 10px; 
}
.body-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.center-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 20px;
  text-align: left;
  line-height: 2;
}
.center-nav img {
  width: 50%;
  height: 50%;
}
.proverb-aesthetic {
  font-size: 0.75rem;
  font-style: italic;
  letter-spacing: 0.2rem;
  margin: 20px 0;
}
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 0.8rem;
}

/* *** IDs *** */

#gallery {
  align-items: center;
}

/* Trials Page */
#trials {
  border: 1px solid grey;
  width: 80%;
}

#trials h1 {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

#trials h2 {
  font-size: 1.1rem;
  margin: 0;
  font-style: italic;
  text-decoration: overline;
  color: #3c3c3c;
}

#trials p {
  font-size: 0.9rem;
}

#trials a {
  font-size: 0.9rem;
}

#trials table {
  border: 2px solid rgb(140 140 140);
}

#trials th,
#trials td {
  border: 1px solid rgb(160 160 160);
  font-size: 0.9rem;
}

/* Trials Poster */
#trials-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

#trials-poster img {
  width: 100%;
  height: 100%;
}

/* Icon Links */
#icon-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
  border-top: 1.5px solid #3c3c3c;
  border-bottom: 1.5px solid #3c3c3c;
  padding: 5px 0;
  background-color: rgb(245, 242, 242);
  width: 100%;
}

.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.icon-link .ico {
  width: 32px;
  height: 32px;
}

.icon-link .ico-img {
  width: 40px;
  height: 32px;
}